<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Produto</title>
</head>

<body class="container">
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <h1 class="title is-0"><span class="icon">
                            <i class="fas fa-lightbulb"></i>
                        </span> GreenLight</h1>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item">Conferir consumo</a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <a class="button is-large" th:href="@{/user}">
                            <span class="icon">
                                <i class="fas fa-user"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container is-max-desktop">
        <div th:if="${user}" class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-3" th:text="${user.userId}"></p>
                        <p class="title is-3" th:text="${user.nome}"></p>
                        <p class="title is-4" th:text="${user.email}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>